*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container{
    width: 100%;
    height: 120px;
    padding-left: 8%; 
    padding-right: 8%;
}

.NavBar{
    display: flex;
    align-items: center;
    padding: 0%;
    padding-top: 20px
}



.Content > p::first-line{
    font-weight: bold;
}


a {
    font-size: 24px;
  text-decoration: none;
  color:black;
}

p{
    padding: 15px 0;
    color: #555;
} 


.Content-Container {
    /* background-image: url(Img/contacts.jpg); */
    background-color: #ccc;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.Content-Container h1{   
    padding-top: 110px;
    padding-left: 120px;
    color: black;
}

.Content{

    
    display: flex;
}




.Btn{
    background: black;
    color:#fff;
    padding: 6px 50px;
    border-radius: 30px;
    margin-left: 30px;
    margin-top: 20px;
}
.Btn:hover{
    background: #563434;
}



.Header{
    background: black;
}



.Footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 10px;
    text-align: center;
}
 
.Footer > p{
    color: white;
}

ul{
    list-style-type: none;
}

.App-Logo img {
    margin-top: 10px;
    width: 250px;
    height: auto;
}
.Footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 10px 0;
}
.Copyright{
    text-align: center;
}

.NavBar img{
    width: 300px;   
}



@media screen and (max-width: 600px){
    


    .NavBar{
        display: block;
    }

    .Logo{
        padding-left: 15%;
        padding-right: 40%;
        }
        
    .Header{
            height: 150px;
        }
    .Content{
        width: 100%
        }
        
    }

input[type=text],input[type=password], input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=radio]{
    margin-left: 20px;
}

button {
    background-color: #bf996f;
    color: white;
    padding: 14px 14px;
    margin: 8px 0;
    border: black;
    cursor: pointer;
    width: 100%;

    border-radius: 20px;
}

button:hover {
    background-color: black;
    color: #bf996f;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    border-radius: 20px;
}

.cancelbtn:hover {
    background-color: #6d1d17;
}

.data {
    padding: 15px;
}
    
span.psw {
    color: #bf996f;
    float: right;
    padding-top: 16px;
}

span.supgmail  {
    color: #bf996f;
    float: right;
    padding-top: 5px;
}

  .main{
    position: absolute;
    margin-top: 150px;
   left: 50%;
   transform: translate(-50%,-50%);
   color: firebrick;
   height: 70vh;
   width: 35%;
    text-align: center;
 }
 .main h1{
   margin-top: 20px;
   padding-right:120px ;
  
 }
 

 .main input{
   font-size: 20px;
   margin: 5px;
   width: 378px;
   
 }
 .main p{
   width: 200px;
   display: inline-block;
   text-align: left;
   font-size: 18px;
 }


  









